<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <title>用户管理</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="../../static/user/favicon.ico">
    <link rel="stylesheet" href="../../static/user/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/user/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/user/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../static/user/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../static/user/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../static/user/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">

    <link rel="stylesheet" href="../../static/user/assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body>
    <!-- Left Panel -->

    <aside id="navbar" class="left-panel">
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

        </header><!-- /header -->
        <!-- Header-->


        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title" style="font-size: 20px">用户管理</strong>

                                <!--增删改-->

                                <svg style="float: right" class="bi bi-person-plus-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 100-6 3 3 0 000 6zm7.5-3a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13V5.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                                    <path fill-rule="evenodd" d="M13 7.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z" clip-rule="evenodd"/>
                                </svg>

                                <!--增删改-->
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>用户名</th>
                                        <th>角色</th>
                                        <th>余额</th>
                                        <th>用户状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="userTable">

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

<!--    修改弹窗-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="showDivUsername">用户名</label>
                            <input type="text" class="form-control" id="showDivUsername" readonly>
                        </div>
                        <div class="form-group">
                            <label for="showDivUserRole">用户角色</label>
                            <select class="form-control" id="showDivUserRole" name="roleId">
                                <option value="3">普通用户</option>
                                <option value="4">VIP用户</option>
                                <option value="1">管理员</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="showDivBalance">余额</label>
                            <input class="form-control" type="text" id="showDivBalance" readonly>
                        </div>
                        <div>
                            <label for="showDivUserStatus">用户状态</label>
                            <select class="form-control" id="showDivUserStatus" name="status">
                                <option value="0">使用中</option>
                                <option value="1">禁用</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Right Panel -->
    <script src="http://apps.bdimg.com/libs/jquery/1.6.4/jquery.min.js"></script>

    <script src="../../static/user/vendors/jquery/dist/jquery.min.js"></script>
    <script src="../../static/user/vendors/popper/popper.min.js"></script>
    <script src="../../static/user/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../static/user/assets/js/main.js"></script>


    <script src="../../static/user/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../static/user/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../static/user/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../static/user/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="../../static/user/vendors/jszip/dist/jszip.min.js"></script>
    <script src="../../static/user/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="../../static/user/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="../../static/user/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../../static/user/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../../static/user/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="../../static/user/assets/js/init-scripts/data-table/datatables-init.js"></script>


    <script>
        $("#navbar").load("../base/admin/navbar.html");
        $("#header").load("../base/admin/base_right_header.html");
    </script>

<script>
    function showDiv( row , methodType )  {
        console.log(row);
        console.log(methodType);

        if(methodType=="add"){
            //添加


        }else {
            alert("update")
            console.log(row);
            //修改
            $("#showDivUsername").val(row.username);

        }
        $("#updateOrAddDiv").show();
    }
</script>
</body>



</html>
