<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <title>预约车位</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="../../static/user/favicon.ico">


    <link rel="stylesheet" href="../../static/user/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/user/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/user/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../static/user/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../static/user/vendors/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="../../static/user/assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>
<!-- Left Panel -->

<aside id="navbar" class="left-panel">
</aside><!-- /#left-panel -->

<!-- Left Panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
    </header><!-- /header -->
    <!-- Header-->

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>预约地图</h4>
                        </div>
                        <div id="baiduMap">
                            <iframe src="../user/baidu.html" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Algeria</h4>
                        </div>
                        <div class="Vector-map-js">
                            <div id="vmap2" class="vmap"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Argentina</h4>
                        </div>
                        <div class="Vector-map-js">
                            <div id="vmap3" class="vmap"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Brazil</h4>
                        </div>
                        <div class="Vector-map-js">
                            <div id="vmap4" class="vmap"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>France</h4>
                        </div>
                        <div class="Vector-map-js">
                            <div id="vmap5" class="vmap"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Germany</h4>
                        </div>
                        <div class="Vector-map-js">
                            <div id="vmap6" class="vmap"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Greece</h4>
                        </div>
                        <div class="Vector-map-js">
                            <div id="vmap7" class="vmap"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Russia</h4>
                        </div>
                        <div class="Vector-map-js">
                            <div id="vmap10" class="vmap"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Tunisia</h4>
                        </div>
                        <div class="Vector-map-js">
                            <div id="vmap11" class="vmap"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Europe</h4>
                        </div>
                        <div class="Vector-map-js">
                            <div id="vmap12" class="vmap"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>USA</h4>
                        </div>
                        <div class="Vector-map-js">
                            <div id="vmap13" class="vmap"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Turkey</h4>
                        </div>
                        <div class="Vector-map-js">
                            <div id="vmap14" class="vmap"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Inactive Regions</h4>
                        </div>
                        <div class="Vector-map-js">
                            <div id="vmap15" class="vmap"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->



            </div>
            <!-- /# row -->


        </div><!-- .animated -->
    </div><!-- .content -->


</div><!-- /#right-panel -->

<!-- Right Panel -->


<script src="../../static/user/vendors/jquery/dist/jquery.min.js"></script>
<script src="../../static/user/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../static/user/assets/js/main.js"></script>

<script src="../../static/user/vendors/jqvmap/dist/jquery.vmap.min.js"></script>

<script src="../../static/user/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- scripit init-->
<script src="../../static/user/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<!-- scripit init-->
<script src="../../static/user/vendors/jqvmap/dist/maps/jquery.vmap.algeria.js"></script>
<!-- scripit init-->
<script src="../../static/user/vendors/jqvmap/dist/maps/jquery.vmap.argentina.js"></script>
<!-- scripit init-->
<script src="../../static/user/vendors/jqvmap/dist/maps/jquery.vmap.brazil.js"></script>
<!-- scripit init-->
<script src="../../static/user/vendors/jqvmap/dist/maps/jquery.vmap.france.js"></script>
<!-- scripit init-->
<script src="../../static/user/vendors/jqvmap/dist/maps/jquery.vmap.germany.js"></script>
<!-- scripit init-->
<script src="../../static/user/vendors/jqvmap/dist/maps/jquery.vmap.greece.js"></script>
<!-- scripit init-->
<script src="../../static/user/vendors/jqvmap/dist/maps/jquery.vmap.iran.js"></script>
<!-- scripit init-->
<script src="../../static/user/vendors/jqvmap/dist/maps/jquery.vmap.iraq.js"></script>
<!-- scripit init-->
<script src="../../static/user/vendors/jqvmap/dist/maps/jquery.vmap.russia.js"></script>
<!-- scripit init-->
<script src="../../static/user/vendors/jqvmap/dist/maps/jquery.vmap.tunisia.js"></script>
<!-- scripit init-->
<script src="../../static/user/vendors/jqvmap/dist/maps/jquery.vmap.europe.js"></script>
<!-- scripit init-->
<script src="../../static/user/vendors/jqvmap/dist/maps/jquery.vmap.usa.js"></script>
<!-- scripit init-->
<script src="../../static/user/vendors/jqvmap/dist/maps/jquery.vmap.turkey.js"></script>
<!-- scripit init-->
<script src="../../static/user/assets/js/init-scripts/vector-map/vector.init.js"></script>

<script src="http://apps.bdimg.com/libs/jquery/1.6.4/jquery.min.js"></script>
<script>
    $("#navbar").load("../user/navbar.html");
    $("#header").load("../user/base_right_header.html");
</script>



</body>

</html>
