<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.parkingmanagement.dao.ParkingDao">
	<resultMap id="BaseResultMap" type="com.parkingmanagement.entity.Parking" >
		<id column="parking_id" property="parkingId" />
		<result column="parking_name" property="parkingName"  />
		<result column="parking_status" property="parkingStatus"  />
		<result column="parking_carport_size" property="parkingCarportSize"  />
		<result column="parking_free_carport" property="parkingFreeCarport"  />
		<result column="parking_price" property="parkingPrice"  />
		<result column="parking_Latitude" property="latitude"/>
		<result column="parking_Longitude" property="longitude"/>
	</resultMap>

	<sql id="base_select">
		parking_id,parking_name,parking_status,parking_carport_size,parking_free_carport,parking_price,parking_Longitude,parking_Latitude
	</sql>

	<select id="getList" resultMap="BaseResultMap">
		select <include refid="base_select"/>
		from parking
		where parking_status = 0
	</select>



	<insert id="save" parameterType="com.parkingmanagement.entity.Parking"  useGeneratedKeys="true" keyProperty = "orderCarport_id">
		insert into parking(parking_name,parking_status,parking_carport_size,parking_free_carport,parking_price,parking_Longitude,parking_Latitude)
		values (#{parkingName},#{parkingStatus},#{parkingCarportSize},#{parkingFreeCarport},#{parkingPrice},#{longitude},#{latitude})
	</insert>

	<select id="getById" parameterType="Integer" resultMap="BaseResultMap">
		select 	<include refid="base_select"/>
		FROM parking
		where  parking_id = #{parkingId}
		and parking_status = 0
	</select>


	<select id="getByName" parameterType="String" resultMap="BaseResultMap">
		select 	<include refid="base_select"/>
		FROM parking
		where  parking_name = #{parkingName}
		and parking_status = 0
	</select>

	<update id="updateParking" parameterType="com.parkingmanagement.entity.Parking" >
		update parking set
	  	<trim suffixOverrides=",">
			<if test="parkingName != null and parkingName != ''">
				parking_name = #{parkingName},
			</if>
			<if test="parkingStatus != null ">
				parking_status = #{parkingStatus},
			</if>
			<if test="parkingCarportSize != null and parkingCarportSize != ''">
				parking_carport_size = #{parkingCarportSize},
			</if>
			<if test="parkingFreeCarport != null ">
				parking_free_carport = #{parkingFreeCarport},
			</if>
			<if test="parkingPrice != null and parkingPrice != ''">
				parking_price = #{parkingPrice},
			</if>
			<if test="longitude != null and longitude != ''">
				parking_Longitude = #{longitude},
			</if>
			<if test="latitude != null and latitude != ''">
				parking_Latitude = #{latitude},
			</if>
		</trim>
		where parking_id = #{parkingId}
	</update>


</mapper>
 

