<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.parkingmanagement.dao.UserDao">
	<resultMap id="BaseResultMap" type="com.parkingmanagement.entity.system.User" >
		<id column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="role_id" property="roleId"  />
		<result column="status" property="status"  />
	</resultMap>

	<sql id="base_select">
		user_id,username,password,role_id , status
	</sql>

	<select id="query" parameterType="Map" resultMap="BaseResultMap">
		select 	<include refid="base_select"/>
		from user
		<where>
			<trim suffixOverrides="and">
				<if test="username != null and username != ''">
					username = #{username} and
				</if>
			</trim>
		</where>
	</select>


	<insert id="save" parameterType="com.parkingmanagement.entity.system.User">
		insert into user(username,password) values (#{username},#{password})
	</insert>

	<select id="getUserById" parameterType="Integer" resultMap="BaseResultMap">
		select 	<include refid="base_select"/>
		from user
		where  user_id = #{userId}
		and status = 0
	</select>

	<update id="update" parameterType="com.parkingmanagement.entity.system.User" >
		update user  set
		<trim suffixOverrides=",">
			<if test="username != null and username != ''">
				username = #{username},
			</if>
			<if test="password != null and password != ''">
				password  = #{password},
			</if>
			<if test="roleId != null and roleId != 0">
				role_id = #{roleId},
			</if>
			<if test="status != null and  status !='' ">
				status = #{status}
			</if>
		</trim>
		where user_id = #{userId}
	</update>


</mapper>
 

